<div>
	<%
	var foo = 'blubb';
	var switchFoo = function(){
		console.log('in switchFoo');
		if(foo == 'blubb') foo = 'bla';
		else foo = 'blubb';
	}
	if(foo == 'blubb') {	
	%>
	<button onclick="switchFoo()">Release</button>
	<% } else { %>
	<button>Stable</button>
	<% } %>
	<%= foo %>
</div>
