
<div id="header">
			
	<!-- Inner -->
	<% if (current.source == 'index') { %>	
		<div class="inner">
			<header>
				<h1><a href="/" id="logo">SPARQLify</a></h1>
				<hr />
				<span class="byline">a scalable SPARQL-SQL rewriter within the LinkedGeoData project</span>
			</header>
 			<footer>
				<a href="#banner" class="button circled scrolly">Start</a>
			</footer>
		</div> 
	<% } %>	

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><span>About</span>
					<ul>
						<li><a href="/smlLanguage">SML Mapping Language</a>
							<ul>
								<li><a href="/r2rml">R2RML conversion</a></li>
								<li><a href="/userStudyResults">User Study Results</a></li>
							</ul>
						</li>
						<li><a href="/tools">Tools suite</a>
							<ul>
								<li><a href="/sparqlify">Sparqlify</a></li>
								<li><a href="/sparqlify-csv">Sparqlify CSV</a></li>
								<li><a href="/sparqlify-platform">Sparqlify Platform</a></li>
							</ul>
						</li>
						<li><a href="/screenshots">Screenshots</a></li>
						<li><a href="/cmdTooling">Command Line Tooling</a></li>
					</ul>
				</li>
				<li><span>Docs</span>
					<ul>
						<li><a href="/content/manual.pdf">Manual</a></li>
						<li><span>Getting Started</span>
							<ul>
								<li><a href="/packages">Packages</a></li>
								<li><a href="/building">Building</a></li>
							</ul>
						</li>
						<li><a href="http://stack.linkeddata.org/download-and-install/">Download</a></li>
						<li><span>Examples</span>
							<ul>
								<li><a href="/example1">Example 1</a></li>
								<li><a href="/example2">Example 2</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><span>Development</span>
					<ul>
						<li><a href="/architecture">Architecture</a></li>
						<li><a href="/changeLog">Change log</a></li>	
						<li><a href="/roadMap">Roadmap</a></li>
						<li><a href="/demoArea">Demo Area</a></li>
					</ul>
				</li>
				<li><span>Community</span>
					<ul>
						<li><a href="http://github.com/sparqlify">Github</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/publications">Publications</a></li>
						<li><a href="/relatedWork">Related work</a></li>
					</ul>
				</li>
			</ul>
		</nav>
</div>
