
<div id="header">
			
	<!-- Inner -->
	<% if (current.source == 'index') { %>	
		<div class="inner">
			
		</div> 
	<% } %>	

	<!-- Nav -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">sparqlify</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/r2rml">R2RML conversion</a></li>
						<li><a href="/userStudyResults">User Study Results</a></li>
						<li><a href="/sparqlify">Sparqlify Tool</a></li>
						<li><a href="/sparqlify-csv">Sparqlify CSV Tool</a></li>
						<li><a href="/sparqlify-platform">Sparqlify Platform</a></li>
						<li><a href="/screenshots">Screenshots</a></li>
						<li><a href="/cmdTooling">Command Line Tooling</a></li>
					</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Docs <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/content/manual.pdf">Manual</a></li>
						<li><a href="/packages">Packages</a></li>
						<li><a href="/building">Building</a></li>
						<li><a href="http://stack.linkeddata.org/download-and-install/">Download</a></li>
						<li><a href="/examples">Examples</a></li>
					</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Development <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/architecture">Architecture</a></li>
						<li><a href="/changeLog">Change log</a></li>	
						<li><a href="/roadMap">Roadmap</a></li>
						<li><a href="/demoArea">Demo Area</a></li>
					</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="http://github.com/aksw/sparqlify">Github</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/publications">Publications</a></li>
						<li><a href="/relatedWork">Related work</a></li>
					</ul>
		</li>
		<li><a href="/impressum">Impressum</a></li>

      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>
