<section>
	<header>
		Search SPARQLify.org
	</header>
	<div class="row half no-collapse">
		<div class="4u">
			<input type=text />
	<footer>
		<a href="/search" class="button">Search</a>
	</footer>
</section>

